.different{
    margin-top: 100px;
    width: 80vw;
}

.different .line{
    height: 1px;
    width: 200px;
    background-color: hsl(273, 4%, 51%);
    margin-bottom: 60px;
}

.different .title{
    color: hsl(270, 9%, 17%);
    margin-bottom: 80px;
}

.different .lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

@media(max-width:1024px){
    .different{
        width: 90vw;
    }
}

@media(max-width:500px){
    .different{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .different .title{
        font-size: 32px;
    }

    .different .lists{
        flex-direction: column;
    }
}