.links .link li {
    color: hsl(270, 9%, 17%);
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.links .link-title {
    color: hsl(273, 4%, 51%);
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.links ul li a{
    position: relative;
}

.links ul li a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: hsl(270, 9%, 17%);
    transition: width 0.2s;
}

.links ul li a:hover::after {
    width: 100%;
}